/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2015, 6:16:13 PM
    Author     : S522573
*/
.about-placeholder{
    width : 100%;
    height: 250px;
    background-color:#ddd;
    background-image: url('../img/.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
#about{
    border : 1px solid #204d74 ;
    padding: 10px;
    
}