/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2015, 2:18:52 PM
    Author     : S522573
*/

.exhibit-placeholder_1 {
    width: 100%;
    height: 250px;
    background-color: #ddd;
   
    background-image: url('../img/exhibits - journey to atlantis.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.exhibit-placeholder_2 {
    width: 100%;
    height: 250px;
    background-color: #ddd;
    background-image: url('../img/exhibits - dolphin notch.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
}

.exhibit-placeholder_3 {
    width: 100%;
    height: 250px;
    background-color: #ddd;
    background-image: url('../img/coral show home page.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.exhibit-placeholder_4 {
    width: 100%;
    height: 250px;
    background-color: #ddd;
    background-image: url('../img/exhibits - walrus skerry.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
}

.exhibit-placeholder_5 {
    width: 100%;
    height: 250px;
    background-color: #ddd;
    
    background-image: url('../img/exhibits - killer whales.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.exhibit-placeholder_6 {
    width: 100%;
    height: 250px;
    background-color: #ddd;
    background-image: url('../img/coral reef.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
}

.exhibit-placeholder_7{
    width : 100%;
    height: 250px;
    background-color:#ddd;
    background-image: url('../img/exhibits - danty sealions.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.exhibitnote{
    
}