@model D05.Models.BirthdayParty
@using System.Security.Claims

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
<body style="background-image:url(/img/admin.jpg)">
    <div class="container">
        <div class="navbar-wrapper">
            <div class="container">
                <!-- start  of navigation bar-->

                <nav class="navbar navbar-inverse" id="navid">
                    <div class="container">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Aquatix Aquarium</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">



                            @if (User.IsSignedIn())
                            {
                                <div id="myaccount" style="padding-right:20px">
                                    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="nav navbar-nav navbar-right">
                                        <ul class="nav navbar-nav navbar-right">

                                            <li>
                                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            }
                            else {
                                <div id="loginlinks" style="padding-right:20px">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </nav>

                <!-- end of navigation bar-->
            </div>

            @{
                ViewData["Title"] = "Create";
            }

            <h2>Create</h2>

            <form asp-action="Create">
                <div class="form-horizontal">
                    <h4>BirthdayParty</h4>
                    <hr />
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AttendeesNumber" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="AttendeesNumber" class="form-control" />
                            <span asp-validation-for="AttendeesNumber" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthdayPersonAge" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="BirthdayPersonAge" class="form-control" />
                            <span asp-validation-for="BirthdayPersonAge" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthdayPersonName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="BirthdayPersonName" class="form-control" />
                            <span asp-validation-for="BirthdayPersonName" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactNumber" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ContactNumber" class="form-control" />
                            <span asp-validation-for="ContactNumber" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateofRegistration" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="DateofRegistration" class="form-control" />
                            <span asp-validation-for="DateofRegistration" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateofVisit" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="DateofVisit" class="form-control" />
                            <span asp-validation-for="DateofVisit" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="FoodDetails" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FoodDetails" class="form-control" />
                            <span asp-validation-for="FoodDetails" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsAdminAccepted" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="IsAdminAccepted" class="form-control" />
                            <span asp-validation-for="IsAdminAccepted" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserEmail" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="UserEmail" class="form-control" />
                            <span asp-validation-for="UserEmail" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>

            <div>
                <a asp-controller="Admin" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</body>
        @section Scripts {
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        }
