@model IEnumerable<D05.Models.Event>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Aquatix</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/home.css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    </environment>
    <style>
        #contactus {
            //background-image: url('/img/background.jpg');
            background-size: contain;
        }
    </style>
    <script>
        function sendData() {
            document.getElementById("name").value = "";
            document.getElementById("subject").value = "";
            document.getElementById("email").value = "";
            document.getElementById("plainMessage").value = "";

        }
        function checkValidMessage() {
            if (document.getElementById("name").value == "" || document.getElementById("name").value == null ||
                 document.getElementById("subject").value == "" || document.getElementById("subject").value == null ||
                  document.getElementById("email").value == "" || document.getElementById("email").value == null ||
                    document.getElementById("plainMessage").value == "" || document.getElementById("plainMessage").value == null) {
                //document.getElementById("validMessageIcon").src = "~/img/error-52.png";
               
                document.getElementById("validMessageDesc").innerHTML =  "Please fill all the fileds."
            } else {
                //document.getElementById("validMessageIcon").src = "~/img/ok filled-50.png";
                document.getElementById("validMessageDesc").innerHTML = "Messeage Sent Successfully. Please give us 24 hours time to process your request/feedback."

            }

        }

    </script>
</head>
<body>
    @using System.Security.Claims
    <div id="contactus">
        <div class="navbar-wrapper">
            <div class="container">
                <!-- start  of navigation bar-->

                <nav class="navbar navbar-inverse" id="navid">
                    <div class="container">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Aquatix Aquarium</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="dropdown">
                                    <a href="html/planyourvisit.html" class="dropdown-toggle"
                                       data-toggle="dropdown" role="button">Visitor Info<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="/Planyourvisit/PlanYourVisit?tab=hours">Hours and Prices</a></li>
                                        <li><a href="/Planyourvisit/PlanYourVisit?tab=tickets">Buy Tickets</a></li>
                                        
                                        <li><a href="/Planyourvisit/PlanYourVisit?tab=occasions">Special Occasions</a></li>
                                        
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a asp-controller="" asp-action="" class="dropdown-toggle"
                                       data-toggle="dropdown" role="button">Exhibits<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        @{
                                            var count = 0;
                                        }

                                        @foreach (var item in Model)
                                        {
                                            if (!item.IsSpecialEvent)
                                            {
                                                count++;
                                                var url = "/Exhibits/Exhibits?tab=ex" + count;
                                                <li><a href=@url>@Html.DisplayFor(modelItem => item.EventName)</a></li>
                                            }

                                        }

                                        @*<li><a href="/Exhibits/Exhibits?tab=exone">Journey to Atlantis</a></li>
                                            <li><a href="/Exhibits/Exhibits?tab=extwo">Dolphin Notch</a></li>
                                            <li><a href="/Exhibits/Exhibits?tab=exthree">Seaworld Tower</a></li>
                                            <li><a href="/Exhibits/Exhibits?tab=exfour">Walrus Skerry</a></li>
                                            <li><a href="/Exhibits/Exhibits?tab=exfive">Killer Whales</a></li>
                                            <li><a href="/Exhibits/Exhibits?tab=exsix">Coral Reef</a></li>
                                            <li><a href="/Exhibits/Exhibits?tab=exseven">Danty Sealions</a></li>*@

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a asp-controller="" asp-action="" class="dropdown-toggle"
                                       data-toggle="dropdown" role="button">More Info<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a asp-controller="Home" asp-action="About">About us</a></li>
                                        <li><a asp-controller="Home" asp-action="Contact">Contact us</a></li>
                                        <li><a asp-controller="Home" asp-action="FAQs">FAQs</a></li>
                                        <li><a href="">Webpage1</a></li>
                                        <li><a href="">Webpage2</a></li>
                                        <li><a href="">Webpage3</a></li>

                                    </ul>
                                </li>

                                @if (User.IsSignedIn() && User.IsInRole("admin"))
                                {
                                    <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                                }
                            </ul>
                            @if (User.IsSignedIn())
                            {
                                <div id="myaccount" style="padding-right:30px">
                                    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="nav navbar-nav navbar-right">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a asp-controller="Manage" asp-action="Index">Hello @User.GetUserName()</a>
                                            </li>
                                            <li>
                                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            }
                            else {
                                <div id="loginlinks" style="padding-right:30px">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
                                    </ul>
                                </div>
                            } 
                        </div>
                    </div>
                </nav>

                <!-- end of navigation bar-->
            </div>
        </div>
        <div id="main" class="container">



            <div class="row" id="heading">
                <div class="col-md-12">
                    <h3 style="text-align: center;">Aquatix Aquarium - Contact us</h3>
                </div>
            </div>

            <div class="row jumbotron" id="emailForm" style="min-height: 300px;background-color: #eef8fa">
                <div class="col-md-9">
                    <div class="row" style="background-color: #acdee9;height: 350px">
                        <div id="form" style="padding: 20px;">
                            <form asp-action="">
                                <div class="row">
                                    <div class="col-md-6">


                                        <div class="row">

                                            <div class="form-group">
                                                <label class="col-md-12 control-label" style="font-size: 18px;line-height: 30px;">Name</label>
                                                <div class="col-md-12">
                                                    <input class="form-control" type="text" placeholder="Name" id="name" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row" style="padding-top: 20px;padding-bottom: 20px;">

                                            <div class="form-group">
                                                <label class="col-md-12 control-label" style="font-size: 18px;line-height: 30px;">Email</label>
                                                <div class="col-md-12">
                                                    <input class="form-control" type="email" placeholder="Email" id="email" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="form-group">
                                                <label class="col-md-12 control-label" style="font-size: 18px;line-height: 30px;">Subject</label>
                                                <div class="col-md-12">
                                                    <input class="form-control" type="text" placeholder="Subject" id="subject" />
                                                </div>

                                            </div>
                                        </div>





                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">

                                            <div class="form-group">
                                                <label class="col-md-12 control-label" style="font-size: 18px;line-height: 30px;">Message</label>
                                                <div class="col-md-12">
                                                    <textarea class="form-control" rows="10" id="plainMessage" draggable="false"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendBtn" style="float: right;" onclick="checkValidMessage()" id="sendMessageButton">Send Message</button>
                                    </div>
                                    <div class="modal fade" id="sendBtn" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">
                                                        
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p><h6 id="validMessageDesc">Messeage Sent Successfully. Please give us 24 hours time to process your request/feedback.</h6></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeButton" onclick="sendData()">Close</button>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    @*<div class="modal fade" id="sendBtn2" role="dialog">
                                        <div class="modal-dialog">

                                             Modal content
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">
                                                        <img src="~/img/ok filled-50.png" />
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p><h6>Messeage Sent Successfully. Please give us 24 hours time to process your request/feedback.</h6></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeButton" onclick="sendData()">Close</button>
                                                </div>

                                            </div>

                                        </div>
                                    </div>*@

                                </div>
                            </form>
                        </div>

                    </div>

                </div>

                <div class="col-md-3">
                    <div style="font-size: 18px"><span class=""></span> &nbsp;Our Office</div>

                    <div style="font-size: 16px;margin-top: 10px">Aquatix Inc.</div>
                    <div style="font-size: 14px;">322 N Walnut St.</div>
                    <div style="font-size: 14px;">Maryville,MO 64468</div>
                    <div style="font-size: 14px;">Phone : (123) 456 7897</div>

                    <div>Team</div>
                    <div style="font-size: 16px;margin-top: 10px"><a href="mailto:s525078@mail.nwmissouri.edu?Subject=GroupFeedback">aquatix@service.com</a></div>

                </div>
            </div>

            <div class="row" id="map_canvas" style="background-color: #ddd;min-height: 300px">


            </div>
        </div>
        <div class="container" style="margin-top:45px;">
            <footer style="text-align: center; font-size: 14px;">Aquatix &copy; 2016. All rights reserved.</footer>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/jquery.cookie.js"></script>
        <script src="~/lib/bootstrap/dist/js/jquery.easing.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/home.js"></script>
        <script src="~/js/data.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

    </environment>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        <!-- http://dotnetdevtricks.blogspot.com/2012/10/google-map-api-v3-with-mvc4-razor.html -->

        $(document).ready(function () {
            initialize();
        });
        function initialize() {
            var title = 'Aquatix Aquarium '
            var lat = 40.348747;
            var long = -94.877873;
            var mapOptions = {
                center: new google.maps.LatLng(lat,long),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);

            var latlng = new google.maps.LatLng(lat, long);
            var marker = new google.maps.Marker({
                position: latlng,
                title:  title,
                map: map,
                draggable: false
            });
        }
    </script>
    <footer>Google Maps 2016</footer>
</body>
</html>