<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aquatix</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    </environment>
    <style>
        .panel-heading .accordion-toggle:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
            content: "\e113"; /* adjust as needed, taken from bootstrap.css */
            float: right; /* adjust as needed */
            color: black; /* adjust as needed */
        }

        .panel-heading .accordion-toggle.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        }

        .accordion-toggle:hover {
            text-decoration: none;
        }
    </style>
    <style>
        #accordion .highlight {
            background: #8ce6e6;
            transition: background 2s ease;
        }
    </style>
    <style>
        #faq {
            background-image: url('/img/background.jpg');
            background-size: contain;
        }
    </style>
</head>
<body>

    <div id="faq">

        <br />

        <div class="navbar-wrapper" style="position: relative;z-index: 99;">
            <div class="container">
                <nav class="navbar navbar-inverse animated slideInDown" id="navid">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Aquatix Aquarium</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="dropdown">
                                    <a href="html/planyourvisit.html" class="dropdown-toggle"
                                       data-toggle="dropdown" role="button">Visitor Info<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="html/planyourvisit.html?tab=hours">Hours and Prices</a></li>
                                        <li><a href="html/planyourvisit.html?tab=tickets">Buy Tickets</a></li>
                                        <li><a href="html/planyourvisit.html?tab=find">Finding us</a></li>
                                        <li><a href="html/planyourvisit.html?tab=occasions">Special Occasions</a></li>
                                        <li class="divider"></li>
                                        <li><a href="html/planyourvisit.html?tab=faq">FAQ's</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="html/exhibits.html" class="dropdown-toggle"
                                       data-toggle="dropdown" role="button">Exhibits<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="html/exhibits.html?tab=exone">Journey to Atlantis</a></li>
                                        <li><a href="html/exhibits.html?tab=extwo">Dolphin Notch</a></li>
                                        <li><a href="html/exhibits.html?tab=exthree">Seaworld Tower</a></li>
                                        <li><a href="html/exhibits.html?tab=exfour">Walrus Skerry</a></li>
                                        <li><a href="html/exhibits.html?tab=exfive">Killer Whales</a></li>
                                        <li><a href="html/exhibits.html?tab=exsix">Coral Reef</a></li>
                                        <li><a href="html/exhibits.html?tab=exseven">Danty Sealions</a></li>
                                    </ul>
                                </li>
                                <li><a asp-controller="Home" asp-action="About">About us</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Contact us</a></li>
                                <li class="active"><a asp-controller="Home" asp-action="FAQs">FAQs</a></li>
                            </ul>

                            <!--<div class="navbar-right">
                                <div id="myaccount">
                                    <p class="navbar-text"><strong>Welcome,</strong><span id="username"></span></p>
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle"
                                               data-toggle="dropdown" role="button"><span class="glyphicon glyphicon-user"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#" id="myaccnt">My Account</a></li>
                                                <li><a href="#" id="logout">Logout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div id="loginlinks">
                                    <ul class="nav navbar-nav">
                                        <li><a href="html/register.html" data-toggle="modal" data-target="#register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                        <li id="registernav"><a href="html/login.html" data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                                    </ul>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end of navigation bar -->
        <div class="container">
            <div class="panel-group" id="accordion">


                <h3 style="font-weight: bold">General Questions</h3>


                <div class="panel panel-default">
                    <div class="panel-heading highlight">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Disability Access</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            The Aquarium strives to be fully accessible to the disabled. Wheelchairs are available free of charge and on a first-come, first-served basis at the Information Desk inside the Main Entrance.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Do you allow pets inside the Aquarium?</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Only trained service animals are permitted in the Aquarium. Pet-sitting services are available in the Monterey area. Call the Aquatix Convention and Visitors Bureau at (831) 657-6400 for recommendations.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Do you have a "Lost & Found"?</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Yes, at the Information Desk. A lost and found report can also be filled out if an item has not been returned before you're ready to leave. A volunteer will provide the form and leave it in the lost and found bin for Security to pick up. We'll call Security immediately if an item of value is turned in (purse with cash/credit cards, an expensive camera, etc.).
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">How long does it take to see the Aquarium?</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            An average visit to the Aquarium lasts two to three hours, but you can easily spend the whole day here and still have more to see! Be sure to check our Aquarium Exhibits section before you come to preview some of the highlights.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">How many employees and volunteers does the Aquarium have? </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            There are approximately 450 paid staff and more than 1,200 volunteers. Our volunteers do everything from guiding school children through our exhibits to feeding the animals in our Kelp Forest.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse10">Is there a place to store to my belongings?</a>
                        </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse">
                        <div class="panel-body">
                            There are lockers for personal use located on Hovden Way, just past the Member Entrance. From September through May, the lockers on the left are reserved for school groups. Guests are welcome to use the lockers on the right. Each locker costs one dollar and will only accept quarters. Locker dimensions are 16 by 23 by 30 inches.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse6">How many people visit the Aquarium?</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            The average number of visitors over the first 27 years has been approximately 1.8 million annually. The total number of visitors since opening has been 49,823,951 through 2011.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse12">Where can we eat our picnic lunch?</a>
                        </h4>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse">
                        <div class="panel-body">
                            The Aquarium provides an onsite picnic area reserved for visiting school groups. Individual guests may use the outside seating at the end of Hovden Way. Please note that no food or drink may be consumed inside the Aquarium, and seating is reserved for restaurant patrons in our restaurant, Cindy's Waterfront, and the Cafe. There are a number of great picnic sites within walking distance from the Aquarium, including Lovers Point, Berwick Park and San Carlos Beach.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse13">Where can I buy film, batteries, stamps, aspirin etc?</a>
                        </h4>
                    </div>
                    <div id="collapse13" class="panel-collapse collapse">
                        <div class="panel-body">
                            The Gift & Bookstore carries disposable cameras, aspirin, AA and AAA batteries, along with a full selection of merchandise including natural history books, Aquarium logo clothing, educational toys and much more. You can reach our merchandising staff by phone at (877) 665-2665 toll-free in the U.S. or via e-mail. Stamps may be purchased nearby at Nob Hill Foods.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse14">What if I already have tickets?</a>
                        </h4>
                    </div>
                    <div id="collapse14" class="panel-collapse collapse">
                        <div class="panel-body">
                            Prepaid and complimentary ticket holders may enter at the Main Entrance and will be directed to the Advance Tickets line.
                        </div>
                    </div>
                </div>


                <h3 style="font-weight: bold">Safety</h3>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse7">Bag Inspections</a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            For the safety of our visitors and the marine life we exhibit, all bags, backpacks and packages may be inspected before entering the Aquarium. During peak seasons, holidays and weekends, you may experience a brief wait to allow for security screenings.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">Best Times To Avoid Crowd</a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <div class="panel-body">
                            Our less-visited times are in the fall and winter months other than during holidays. At other times of the year, you'll find fewer visitors between 2 p.m. and 6 p.m. During the peak summer months, Tuesday, Wednesday and Thursday are the best days to visit.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse9">International Visitors</a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse">
                        <div class="panel-body">
                            Visitor information cards are available at the Information Desk in Chinese, French, German, Italian, Japanese, Korean, Portuguese and Spanish. Many staff and volunteers speak other languages. Look for special nametags that indicate what languages they speak.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">Wireless internet</a>
                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse">
                        <div class="panel-body">
                            Wireless internet is available at the Aquarium free of charge. You can browse the internet with your Wi-Fi-enabled cell phones, tablets and other devices. For more information, please visit the Information Desk.
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse15">Weather</a>
                        </h4>
                    </div>
                    <div id="collapse15" class="panel-collapse collapse">
                        <div class="panel-body">
                            The coastal areas of Monterey County usually enjoy temperatures averaging 57 degrees Fahrenheit year-round. It's a good idea to dress in layers as temperature and wind conditions may vary throughout the day and it can get cool, even during the summer.
                        </div>
                    </div>
                </div>


                <h3 style="font-weight: bold">Policies</h3>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse16">No weapons policy</a>
                        </h4>
                    </div>
                    <div id="collapse16" class="panel-collapse collapse">
                        <div class="panel-body">
                            Aquatix has established—and strictly enforces—a No Weapons of any kind policy to ensure an enjoyable experience for all our guests and to reduce any potential risks to your safety. Weapons include (but are not limited to) firearms, (including toys and replicas), chemical or electronic "non-lethal" devices or sprays, impact weapons, knives or other sharp instruments. Signage on Aquarium property states weapons of any kind are not are permitted. Visitors are prohibited from carrying firearms—concealed or not, and regardless of whether the owner holds a permit.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse17">Photography and video</a>
                        </h4>
                    </div>
                    <div id="collapse17" class="panel-collapse collapse">
                        <div class="panel-body">
                            During your visit, you're welcome to take photos and video for your personal use only. Commercial photography is allowed only with prior written permission from our Public Relations Department. For your safety and the safety of other visitors, we prohibit the use of tripods and monopods in the Aquarium. Please turn off your flash when taking photographs inside the Aquarium. You'll get better photos without your flash—and our animals and other visitors will thank you! You'll find professional photo postcards of many of our animals in our gift and bookstores, and on the Aquarium's iPhone app. For more ideas, visit our photo tips page.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse18">Smoking Policy</a>
                        </h4>
                    </div>
                    <div id="collapse18" class="panel-collapse collapse">
                        <div class="panel-body">
                            For the health and safety of our guests and animals, smoking is prohibited anywhere on Aquarium property, including outdoor areas.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse19">Strollers</a>
                        </h4>
                    </div>
                    <div id="collapse19" class="panel-collapse collapse">
                        <div class="panel-body">
                            Strollers are permitted throughout the Aquarium, except in our aviary and on the mezzanine of our sea otter exhibit. We ask that you be considerate of other visitors as they're navigating dark galleries to see the exhibits.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
        function toggleChevron(e) {
            $(e.target)
            .prev('.panel-heading')
            .find('i.indicator')
            .toggleClass('glyphicon-minus glyphicon-plus');

            $('#accordion .panel-heading').removeClass('highlight');
            $(e.target).prev('.panel-heading').addClass('highlight');
        }
        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);

    </script>
</body>
</html>