@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<D05.Models.Event>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Aquatix</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/home.css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    </environment>
    <style>
        #aboutus {
            // background-image:url('/img/background.jpg');
            background-size: contain;
        }

        .linksHover a {
            opacity: 0.6;
        }

            .linksHover a:hover {
                opacity: 1;
            }

        html, body {
            position: relative;
            min-height: 100%;
            height: 100%;
        }

        html {
            position: relative;
            overflow-x: hidden;
            margin: 16px;
            padding: 0;
            min-height: 100%;
            font-size: 62.5%;
            // For rem units support;
        }

        body {
            font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 2rem;
            letter-spacing: 0.01rem;
            background-color: whitesmoke;
            text-rendering: optimizeLegibility;
        }

        #demo {
            margin: 20px auto;
            max-width: 960px;
        }

            #demo h3 {
                font-size: 2.4rem;
                line-height: 3.2rem;
                letter-spacing: 0;
                font-weight: 300;
                color: #212121;
                text-transform: inherit;
                margin-bottom: 1rem;
                text-align: center;
            }

            #demo h4 {
                font-size: 1.5rem;
                line-height: 2.8rem;
                letter-spacing: 0.01rem;
                font-weight: 400;
                color: #212121;
                text-align: center;
            }

        .shadow-z-1 {
            -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
            -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
        }

        
    </style>
</head>
<body>
    @using System.Security.Claims
    <div class="navbar-wrapper">
        <div class="container">
            <!-- start  of navigation bar-->

            <nav class="navbar navbar-inverse" id="navid">
                <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Aquatix Aquarium</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="dropdown">
                                <a href="html/planyourvisit.html" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button">Visitor Info<b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/Planyourvisit/PlanYourVisit?tab=hours">Hours and Prices</a></li>
                                    <li><a href="/Planyourvisit/PlanYourVisit?tab=tickets">Buy Tickets</a></li>

                                    <li><a href="/Planyourvisit/PlanYourVisit?tab=occasions">Special Occasions</a></li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a asp-controller="" asp-action="" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button">Exhibits<b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    @{
                                        var count = 0;
                                    }

                                    @foreach (var item in Model)
                                    {
                                        if (!item.IsSpecialEvent)
                                        {
                                            count++;
                                            var url = "/Exhibits/Exhibits?tab=ex" + count;
                                            <li><a href=@url>@Html.DisplayFor(modelItem => item.EventName)</a></li>
                                        }

                                    }

                                    @*<li><a href="/Exhibits/Exhibits?tab=exone">Journey to Atlantis</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=extwo">Dolphin Notch</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=exthree">Seaworld Tower</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=exfour">Walrus Skerry</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=exfive">Killer Whales</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=exsix">Coral Reef</a></li>
                                        <li><a href="/Exhibits/Exhibits?tab=exseven">Danty Sealions</a></li>*@

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a asp-controller="" asp-action="" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button">More Info<b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a asp-controller="Home" asp-action="About">About us</a></li>
                                    <li><a asp-controller="Home" asp-action="Contact">Contact us</a></li>
                                    <li><a asp-controller="Home" asp-action="FAQs">FAQs</a></li>
                                    <li><a asp-controller="Home" asp-action="Webpage1">Webpage1</a></li>
                                    <li><a asp-controller="Home" asp-action="Webpage2">Webpage2</a></li>
                                    <li><a asp-controller="Home" asp-action="Webpage3">Webpage3</a></li>

                                </ul>
                            </li>
                            @if (User.IsSignedIn() && User.IsInRole("admin"))
                            {
                                <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                            }
                        </ul>


                        @if (User.IsSignedIn())
                        {
                            <div id="myaccount" style="padding-right:30px">
                                <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="nav navbar-nav navbar-right">
                                    <ul class="nav navbar-nav">
                                        <li>
                                            <a asp-controller="Manage" asp-action="Index">Hello @User.GetUserName()</a>
                                        </li>
                                        <li>
                                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        }
                        else {
                            <div id="loginlinks" style="padding-right:30px">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                                    <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </nav>

            <!-- end of navigation bar-->
        </div>
    </div>
    <div class="container">
        <div id="demo">
            <h3>List Of Pending Tasks</h3>
            
            <!--Team Member 1-->
            <!--Ashish Pandey-->

            <!-- Responsive table starts here -->
            <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->

            <h4>Ashish Pandey</h4>
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="danger">
                            <td data-title="ID">1</td>
                            <td data-title="Name">Material Design Color Palette</td>
                            <td data-title="Link">
                                <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">2</td>
                            <td data-title="Name">Material Design Iconic Font</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-iconic-font" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">3</td>
                            <td data-title="Name">Material Design Hierarchical Display</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/eNaEBM" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-hierarchical-display" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">4</td>
                            <td data-title="Name">Material Design Sidebar</td>
                            <td data-title="Link"><a href="http://codepen.io/zavoloklom/pen/dIgco" target="_blank">Codepen</a></td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">5</td>
                            <td data-title="Name">Material Design Tiles</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">6</td>
                            <td data-title="Name">Material Design Typography</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-typography" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">7</td>
                            <td data-title="Name">Material Design Buttons</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/Gubja" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">8</td>
                            <td data-title="Name">Material Design Form Elements</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/yaozl" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">9</td>
                            <td data-title="Name">Material Design Email Template</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/qEVqzx" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">10</td>
                            <td data-title="Name">Material Design Animation Timing (old one)</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/Jbrho" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <!--Team Member 2-->

            <!--Nadeem Ansari-->
            <h4>Nadeem Ansari</h4>
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="danger">
                            <td data-title="ID">1</td>
                            <td data-title="Name">Material Design Color Palette</td>
                            <td data-title="Link">
                                <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">2</td>
                            <td data-title="Name">Material Design Iconic Font</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-iconic-font" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">3</td>
                            <td data-title="Name">Material Design Hierarchical Display</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/eNaEBM" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-hierarchical-display" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">4</td>
                            <td data-title="Name">Material Design Sidebar</td>
                            <td data-title="Link"><a href="http://codepen.io/zavoloklom/pen/dIgco" target="_blank">Codepen</a></td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">5</td>
                            <td data-title="Name">Material Design Tiles</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">6</td>
                            <td data-title="Name">Material Design Typography</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-typography" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">7</td>
                            <td data-title="Name">Material Design Buttons</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/Gubja" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">8</td>
                            <td data-title="Name">Material Design Form Elements</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/yaozl" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">9</td>
                            <td data-title="Name">Material Design Email Template</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/qEVqzx" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">10</td>
                            <td data-title="Name">Material Design Animation Timing (old one)</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/Jbrho" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!--Team Member 3-->

            <!--Sai Sharanya-->
            <h4>Sai Sharanya</h4>
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="danger">
                            <td data-title="ID">1</td>
                            <td data-title="Name">Material Design Color Palette</td>
                            <td data-title="Link">
                                <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">2</td>
                            <td data-title="Name">Material Design Iconic Font</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-iconic-font" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">3</td>
                            <td data-title="Name">Material Design Hierarchical Display</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/eNaEBM" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-hierarchical-display" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">4</td>
                            <td data-title="Name">Material Design Sidebar</td>
                            <td data-title="Link"><a href="http://codepen.io/zavoloklom/pen/dIgco" target="_blank">Codepen</a></td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">5</td>
                            <td data-title="Name">Material Design Tiles</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">6</td>
                            <td data-title="Name">Material Design Typography</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-typography" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">7</td>
                            <td data-title="Name">Material Design Buttons</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/Gubja" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">8</td>
                            <td data-title="Name">Material Design Form Elements</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/yaozl" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">9</td>
                            <td data-title="Name">Material Design Email Template</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/qEVqzx" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">10</td>
                            <td data-title="Name">Material Design Animation Timing (old one)</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/Jbrho" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--Team Member 4-->

            <!--Vijay Gopi-->
            <h4>Vijay Gopi</h4>
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="danger">
                            <td data-title="ID">1</td>
                            <td data-title="Name">Material Design Color Palette</td>
                            <td data-title="Link">
                                <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">2</td>
                            <td data-title="Name">Material Design Iconic Font</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-iconic-font" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">3</td>
                            <td data-title="Name">Material Design Hierarchical Display</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/eNaEBM" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-hierarchical-display" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">4</td>
                            <td data-title="Name">Material Design Sidebar</td>
                            <td data-title="Link"><a href="http://codepen.io/zavoloklom/pen/dIgco" target="_blank">Codepen</a></td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">5</td>
                            <td data-title="Name">Material Design Tiles</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">6</td>
                            <td data-title="Name">Material Design Typography</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-typography" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">7</td>
                            <td data-title="Name">Material Design Buttons</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/Gubja" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">8</td>
                            <td data-title="Name">Material Design Form Elements</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/yaozl" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">9</td>
                            <td data-title="Name">Material Design Email Template</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/qEVqzx" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">10</td>
                            <td data-title="Name">Material Design Animation Timing (old one)</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/Jbrho" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!--Team Member 5-->

            <!--Suprem Raju-->
            <h4>Suprem Raju</h4>
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="danger">
                            <td data-title="ID">1</td>
                            <td data-title="Name">Material Design Color Palette</td>
                            <td data-title="Link">
                                <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">2</td>
                            <td data-title="Name">Material Design Iconic Font</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/uqCsB" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-iconic-font" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">3</td>
                            <td data-title="Name">Material Design Hierarchical Display</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/eNaEBM" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-hierarchical-display" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">4</td>
                            <td data-title="Name">Material Design Sidebar</td>
                            <td data-title="Link"><a href="http://codepen.io/zavoloklom/pen/dIgco" target="_blank">Codepen</a></td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">5</td>
                            <td data-title="Name">Material Design Tiles</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/wtApI" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">6</td>
                            <td data-title="Name">Material Design Typography</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/IkaFL" target="_blank">Codepen</a>
                                <a href="https://github.com/zavoloklom/material-design-typography" target="_blank">GitHub</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">7</td>
                            <td data-title="Name">Material Design Buttons</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/Gubja" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">8</td>
                            <td data-title="Name">Material Design Form Elements</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/yaozl" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">9</td>
                            <td data-title="Name">Material Design Email Template</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/qEVqzx" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                        <tr class="danger">
                            <td data-title="ID">10</td>
                            <td data-title="Name">Material Design Animation Timing (old one)</td>
                            <td data-title="Link">
                                <a href="http://codepen.io/zavoloklom/pen/Jbrho" target="_blank">Codepen</a>
                            </td>
                            <td data-title="Status">Pending</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/jquery.cookie.js"></script>
        <script src="~/lib/bootstrap/dist/js/jquery.easing.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="~/js/home.js"></script>
        <script src="~/js/data.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

    </environment>
</body>
</html>